{% extends "main.html" %}
{% block content %}
<div style="margin-top: 10px" class="container">
        <div>
            <form action="#" method = "post">
                <div class="form-group">
                    <div id="formdiv">
                        <div align="center" style="padding-top: 5%;">   
                    <h3>Edit Catalog</h3><br>
                    <h5>{{ catalog.name }}</h5>
                    </div>
                    <a href="javascript:history.back()"> <button type="button" class="btn btn-light action-button" style="margin-top:20px; margin-left:20px;background-color: #56C7C5;color: white">Cancel</button></a>                        <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                            <div class="col-md-8 offset-md-1">
                                <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>Catalog
                                        Name</strong></p>
                            </div>
                            <div class="col-md-10 offset-md-1"><input class="form-control" type="text" name="name"
                                    placeholder="Catalog A" style="margin-left:0px;font-family:Roboto, sans-serif;"></div>
                        </div>
                        <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                            <div class="col-12 col-md-4 offset-md-4">
                                <button type="reset" class="btn btn-light action-button" style="margin-left:16px;background-color: #56C7C5;color: white">Clear</button>
                                <button type="submit" class="btn btn-light action-button" style="margin-left:16px;background-color: #56C7C5;color: white">update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}